@import "_variables";

.page-leaders {
  overflow-x: hidden;
  header {
    background-color: $dark !important;
    .navbar {
      .navbar-collapse.show {
        background-color: $dark;
      }
    }
  }
  .banner-background {
    @include bg-banner(60vh, $dark, 0, 0);
  }
  .banner-container {
    // padding-left: 12%;

    .banner-row {
      //   height: 100%;
      .banner-text {
        color: $white;
        padding-right: 0;
        @include div-flex(column, center, center);
        height: 55vh;
        .banner-leader-info {
          background-color: $white;
          color: $dark;
          margin: 5% 0;
          padding: 5%;
          border-radius: 2em 0 2em 0;
          width: 100%;
        }
      }
      .banner-img {
        display: none;
        height: 55vh;
        padding: 0;
        img {
          border-bottom-right-radius: 115px;
          border-top-left-radius: 115px;
          height: 120%;
          width: 64vw;
          margin-top: -95px;
          object-fit: cover;
          background-size: contain;
        }
      }
    }
  }

  .main-leaders {
    .main-row {
      .leaders-recommend {
        .title-recommend {
          padding-top: 2rem;
          hr {
            @include hr-title($blue, auto);
          }
        }
        .leader-post {
          //   padding: 5%;
          background-color: $soft-blue;
          border-radius: 1em;
          .post-img {
            @include div-flex(column, center, center);
            img {
              height: 25rem;
              width: 75%;
              object-fit: contain;
            }
          }
          .post-content {
          }
        }
      }
      .leaders-more {
        .title-recommend {
          visibility: hidden;
          padding-top: 2rem;
          hr {
            @include hr-title($blue, auto);
          }
        }
        .container-more {
          // border-radius: 15px;
          .see-more-title {
            hr {
              @include hr-title($yellow, 0);
            }
          }
          .box-recommend {
            height: 10rem;
            .box-r-img {
              img {
                width: 100%;
                height: 190px;
                object-fit: cover;
              }
            }
          }
        }
        //   height: 100vh;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .banner-background {
      @include bg-banner(60vh, $dark, 115px, 115px);
    }
    .banner-container {
      .banner-row {
        .banner-img {
          display: block;
        }
      }
    }
  }
}
