header {
  height: 5rem;
  padding: 1rem 8%;
  .navbar {
    background-color: transparent !important;
    z-index: 1;
    padding: 0;
    .navbar-brand {
      padding: 0;
      height: 1.8rem;
      img {
        height: 100%;
      }
    }
    .navbar-collapse {
      ul {
        li.nav-item{
          a.nav-link {
            color: $white;
            font-weight: 700;
          }
        }
        li.nav-item.active {
          text-decoration: underline solid ;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
  }
}
