//Breakpoints
$xsmall-screen: 320px;
$small-screen: 360px;
$medium-screen: 768px;
$large-screen: 1024px;
$xlarge-screen: 1360px;

//Width column
@function col($columns, $total) {
  @return (100% / $total) * $columns;
}

@mixin media($types...) {
  @each $type in $types {
    @if $type==mobilemini {
      @media only screen and (max-width: $small-screen - 1) {
        @content;
      }
    }

    @if $type==mobile {
      @media only screen and (min-width: $small-screen) {
        @content;
      }
    }

    @if $type==tablet {
      @media only screen and (min-width: $medium-screen) {
        @content;
      }
    }

    @if $type==desktopmini {
      @media only screen and (min-width: $large-screen) {
        @content;
      }
    }

    @if $type==desktop {
      @media only screen and (min-width: $xlarge-screen) {
        @content;
      }
    }
  }
}

/* Center and max-width the content */
.container {
  margin: 0 auto;
  padding: 0;
  min-width: 296px;
  max-width: 480px;
  width: 90%;

  @include media(tablet) {
    max-width: 592px;
  }

  @include media(desktopmini) {
    max-width: 944px;
  }

  @include media(desktop) {
    max-width: 1184px;
  }
}

.row {
  margin-left: auto;
  margin-right: auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}